<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pisces.mapper.MsTagMapper">

<!--     List<MsTag> findTagsByArticlsId(Long articleId);-->
    <select id="findTagsByArticlsId"  parameterType="long" resultType="com.pisces.pojo.MsTag">
            select  id,avatar, tag_name as tagName from ms_tag
            where id in
            (select  tag_id from  ms_article_tag where article_id=#{articleId})

    </select>

<!--    select tag_id from ms_article_tag GROUP BY tag_id  ORDER BY count(*) DESC LIMIT 6-->
    <select id="findMaxHotTagId"  parameterType="int" resultType="java.lang.Long">
        select  tag_id from ms_article_tag group by tag_id order by count(*) desc  limit #{limit}
    </select>


    <select id="findTagsByTagId"   parameterType="list"  resultType="com.pisces.pojo.MsTag">
        select  id, tag_name as tagName from ms_tag
        where id in
        <foreach collection="list" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>
